.confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 98vh;
    width: 100%;
}
img{
    width: 30%;
    height: 30%;

}
.h1,.img ,.p{
    margin-bottom: 40px;
    margin-left: 300px;
}
.h1{
    font-weight: bolder;
    font-size: 45px;
    color: rgb(38, 65, 219);
}
.p{
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    width: 50%;
    color: rgb(107, 104, 104);
}
@media screen and (max-width: 720px) {
    .confirm{
        position: absolute;
        background-color: white;
        top: 8rem;
        left: 3rem;
        width: 400px;
        height: 480px;
        border-radius: 15px;
    }
    img{
        width: 30%;
        height: 30%;
    }
}