.confirm {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 8.5rem;
    position: absolute;
    top: 15rem;
    left: 30rem;
}
img{
    width: 40%;
    height: 40%;
}
.h1, img, .p{
    margin-bottom: 40px;
}
.h1{
    font-weight: bolder;
    font-size: 45px;
    color: rgb(38, 65, 219);
}
.p{
    color: black;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    font-weight: bolder;
    color: rgb(107, 104, 104);
}
@media screen and (max-width: 720px) {
    .confirm{
        position: absolute;
        background-color: white;
        top: 8rem;
        left: 3rem;
        width: 400px;
        height: 480px;
        border-radius: 15px;
    }
    img{
        width: 30%;
        height: 30%;
    }
}