.info h1 , .info p {
    position: relative;
    left: 9rem;
}
.info h1 {
    font-weight: bolder;
    font-size: 45px;
    color: rgb(38, 65, 219);
}

.info p {
    color: rgb(84, 81, 81);
}
.info{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    gap: 40px;
}

@media screen and (max-width: 720px) {
    .info{
        position: absolute;
        top: 7rem;
        width: 90%;
        height: 83vh;
        background-color: white;
        border-radius: 15px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .info h1 {
        font-weight: bolder;
        font-size: 30px;
        color: rgb(38, 65, 219);
        margin-top: 30px;
        width: 100%;
    }
    .info h1 , .info p {
        position: relative;
        left: 1rem;
    }
    .info p{
        font-size: 100%;
    }
}