.containerPai {
    display: flex;
    gap: 30px;
    position: relative;
    left: 35px;
}
.plan{
    position: absolute;
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    left: 60px;
    
}
.h1{
    font-weight: bolder;
    font-size: 45px;
    color: rgb(38, 65, 219);
}
.p{
    color: rgb(84, 81, 81);
}
.h1, .p{
    position: relative;
    left: 9rem;
}

.containerArcade,
.containerAdvanced,
.containerPro {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(163, 153, 153);
    border-radius: 30px;
    transition: 1s;
    padding: 20px;
    width: 20rem;
    height: 280px;
   position: relative;
   bottom: 5rem;
   box-shadow: 5px 5px 5px 5px rgb(155, 151, 151);
}
.containerArcadeSelected,
.containerAdvancedSelected,
.containerProSelected {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(31, 31, 140);
    border-radius: 30px;
    transition: 1s;
    padding: 20px;
    width: 20rem;
    height: 280px;
    position: relative;
   bottom: 5rem;
   box-shadow: 5px 5px 5px 5px inset rgb(155, 151, 151);
}

.containerArcade span,
.containerAdvanced span,
.containerPro span{
    font-size: 30px;
    font-weight: 500;
    margin-top: 150px;
}
.containerArcadeSelected span,
.containerAdvancedSelected span,
.containerProSelected span{
    font-size: 30px;
    font-weight: 500;
    margin-top: 150px;
}
.valor{
    color: rgb(163, 153, 153);
}
.promocao{
    color: rgb(163, 153, 153);
    color: rgb(31, 31, 140);
    font-weight: 500;
    font-weight: bolder;
}

.containerArcade input,
.containerAdvanced input,
.containerPro input{
    position: absolute;
    right:90rem;
}
.containerArcadeSelected input,
.containerAdvancedSelected input,
.containerProSelected input{
    position: absolute;
    right:90rem;
}

.containerArcade:hover,
.containerAdvanced:hover,
.containerPro:hover {
    border-color: rgb(31, 31, 140);
}

.containerArcade label,
.containerAdvanced label,
.containerPro label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 270px;
}
.containerArcadeSelected label,
.containerAdvancedSelected label,
.containerProSelected label{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 270px;
}

.containerArcade img,
.containerAdvanced img,
.containerPro img {
    position: absolute;
    width: 4rem;
}
.containerArcadeSelected img,
.containerAdvancedSelected img,
.containerProSelected img{
    position: absolute;
    width: 4rem;
}

.actMsg{
    background-color: rgb(194, 58, 58);
    padding: 8px;
    border-color: brown;
    text-align: center;
    border-radius: 30px;
    transition: .5s;
    margin-top: 10px;
    color: rgb(131, 28, 28);
    transition: .5s;
    position: absolute;
    top: 19rem;
    right: -60px;
    width: 47rem;
    font-size: 20px;
    font-weight: 500;
    font-weight: bolder;
}
.intMsg {
   display: none;
   transition: .5s;
}

.selector {
    position: relative;
    left:2rem;
    bottom: 50px;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(219, 218, 218);
    align-items: center;
    justify-content: center;
    width: 100%;

}
.mesAno{
    width: 70px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(31, 31, 140);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: 1s;
}
.activeMesAno{
    width: 70px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(31, 31, 140);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: flex-end;
}

.bola {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    transition: 1s;
}

.bts {
    position: relative;
    left: 6rem;
    display: flex;
    gap: 15rem;
}
.goBack , .nextStep{
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    font-size: 18px;
    font-weight: 500;
    font-weight: bolder;
}
.goBack{
    background-color: transparent;
    color: rgb(132, 130, 130);
}
.goBack:hover{
    color: rgb(31, 31, 140);
    transition: 1s;
}
.nextStep {
    background-color: rgb(31, 31, 140);
    color: white;
}
@media screen and (max-width: 720px) {
    .h1, .p{
        position: relative;
        left: 1rem;
        top: -50px;
      
    }
    .h1{
        font-weight: bolder;
        font-size: 32px;
        color: rgb(38, 65, 219);
    }
    .p{
        font-size: 18px;
        color: rgb(84, 81, 81);
    }
    .plan{
        position: absolute;
        top: 8rem;
        width: 90%;
        height:570px;
        background-color: white;
        border-radius: 15px;
    }
    .containerPai{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .containerArcade,
.containerAdvanced,
.containerPro {
    width: 185%;
    height: 80px;
    display: flex;
    right: 10.5rem;
    top:-140px;
    border-radius: 20px;
}
.containerArcadeSelected,
.containerAdvancedSelected,
.containerProSelected {
    width: 185%;
    height: 80px;
    display: flex;
    position: relative;
    right: 10.5rem;
    top:-140px;
    border-radius: 20px;
}
.containerArcade span,
.containerAdvanced span,
.containerPro span{
    position: relative;
    top: -9.5rem;
    left: 4rem;
    font-size: 25px;
}
.containerArcadeSelected span,
.containerAdvancedSelected span,
.containerProSelected span{
    position: relative;
    top: -9.5rem;
    left: 4rem;
    font-size: 25px;
}
.selector{
    width: 190%;
    height: 50px;
    position: absolute;
    top: 9rem;
    left: -8.5rem;

}
.valor, .promocao{
    font-size: 12px;
    font-weight: bolder;
    position: relative;
    top: -11rem;
    left: 11.5rem;
}
.bts {
    position: absolute;
    left: -9rem;
    top: 13.5rem;
    display: flex;
    gap: 3rem;
    width: 500px;
}
.goBack , .nextStep{
    padding: 10px;
    width: 130px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    font-size: 18px;
    font-weight: 500;
    font-weight: bolder;
}
.actMsg{
    width: 185%;
    position: absolute;
    top: 16rem;
    left: -8rem;
}
}


